<!DOCTYPE html>
<html lang="en">
<head>
    <title>About - Mulisa Mudau</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>About Me</h1>
        <p><%= bio %></p>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>

